<a href="/admin/postagens" class="mt-4"><button class="btn btn-success">Postagens</button></a>
<a href="/admin/categorias" class="mt-4"><button class="btn btn-success">Categorias</button></a>
<a href="/admin/usuarios" class="mt-4"><button class="btn btn-success">Usuarios</button></a>
