<h4>Login:</h4>
<div class="card">
    <div class="card-body">
        <form action="/usuarios/login" method="post">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" name="email" required>
            <label for="senha">Senha</label>
            <input type="password" class="form-control" name="senha" required><br>
            <button class="btn btn-success mt-2" type="submit" >Entrar</button>
            <a href="/" style="text-decoration: none; color: white"><button type="button" class="btn btn-danger mt-2" formnovalidate>Cancelar</button></a>
        </form>
    </div>
</div>